[Desktop Entry]
Version=1.0
Name=Projucer
GenericName=JUCE project management tool
GenericName[fr]=Outil de gestion de projet JUCE
Comment=IDE for working with JUCE based projects
Comment[fr]=IDE pour travailler avec des projets basés sur JUCE
Exec=Projucer %f
Icon=Projucer
Categories=Development
MimeType=application/x-juce;
Terminal=false
Type=Application
Keywords=Development;IDE;C++
