[Desktop Entry]
Name=X42 Stereo/Frequency Scope
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 16
TryExec=x42-meter 16
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
