[Desktop Entry]
Name=X42 Goniometer
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 13
TryExec=x42-meter 13
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
