[Desktop Entry]
Name=X42 BBC M6 meter
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 5
TryExec=x42-meter 5
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
