[Desktop Entry]
Name=X42 Stereo Phase Correlation Meter
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 12
TryExec=x42-meter 12
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
