[Desktop Entry]
Name=X42 True-Peak and RMS meter
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 10
TryExec=x42-meter 10
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
