[Desktop Entry]
Name=X42 K14 RMS meter
Type=Application
Comment=A collection of audio level meters with GUI in LV2 plugin format
Exec=x42-meter 2
TryExec=x42-meter 2
Icon=x42-meter
Categories=AudioVideo;Audio;X-Vu-Meters;
