[Desktop Entry]
Name=X42 Tuna
Type=Application
Comment=A musical instrument tunerwith strobe characteristic in LV2 plugin format
Exec=x42-tuna
TryExec=x42-tuna
Icon=x42-tuna
Categories=AudioVideo;Audio;Engineering;
